* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    text-decoration: none;
}
body {
    padding: 0 0 10vh 0;
    background:url("images/bg-stars.svg"), black;
}
/* Nav  bar */
.logo-header {
    width: 13ch;
}
.catch-phrase-large, #login-button-empresa , .logo-header-large {
    display: none;
}
.innerNavBar {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2ch 2ch;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* callout section */
.callout-section {
    padding: 18ch 2ch 5ch;
    color: #e1e1e1;
}
.callout-principal {
    margin: 2ch 0 1ch;
}
.returt-to-login-box {
    margin-top: 1ch;
    text-align: left;
}
.return-to-login {
    color: #6c33a3;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: .7;
}

/* Register */
.register-section {
    padding: 2ch 2ch;
    color: #e1e1e1;

}
.login-box {
    background-color: rgb(32, 32, 36);
    border-radius: 1ch;
    padding: 1ch 2ch 2ch;
    margin: 3ch 0 0 ;
}

.register-wraper {
    text-align: center;
    position: relative;
    margin: 3ch 0;
}
.register-wraper input:not([type="date"]){
    margin: 0 0 1.5ch;
    padding: 2ch;
    width: 100%;
    background-color: #000000;
    border: none;
    border-radius: 1ch;
    color: #e1e1e1;
    font-size: 16px;
}
.register-wraper input::placeholder {
    font-size: 16px;
    padding-left: 1.5ch;
}
.register-wraper input:focus {
    outline: 2px solid #6c33a3;
}

input[type="date"] {
    color: #707070;
    width: 100%;
    display:block;
    padding: 2ch 2ch 2ch 3.7ch;
    border: none;
    border-radius:1ch;
    background:
            #000000
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
            right 1rem
            center
            no-repeat;
    cursor:pointer;
}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
    background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
    opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
    display:none;
}
::-webkit-calendar-picker-indicator {
    position:absolute;
    width:2.5rem;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    opacity:0;
    cursor:pointer;
    color: rgba(167, 22, 238, 0);
    background: rgba(167, 22, 238, 0);
}

input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }

.toggleEmpresaeCandidato {
    margin: 2ch 0 ;
    display: flex;
    justify-content: space-evenly;
}
.toggle-empresa, .toggle-candidato {
    color: white;
    opacity: 50%;
    letter-spacing: 1px;
}
#form-register-empresa {
    display: none;
}
.button-login-loginScreen {
    background-color: #6c33a3;
    border: none;
    padding: 2ch 3ch;
    width: 100%;
    font-weight: 700;
    border-radius: 2ch;
    letter-spacing: 2px;
    color: white;
    opacity: 60%;
}
.toggle-empresa.focus, .toggle-candidato.focus {
    border-bottom: 2px solid #6c33a3;
    opacity: 1;
}
/* Checkbox */

.container{
    display: flex;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"]:hover + label:before{
    opacity: .5;
}

.checkbox{
    display:inline-block;
    position:relative;
    padding-left:40px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #111;
    font-weight: 600;
    width: 10ch;
}

.checkbox:before{
    z-index:15;
    content: '';
    position:absolute;
    left:0;
    top: 6px;
    transition:all 0.3s ease;
    cursor:pointer;
    width:20px;
    border-width: 4px;
    border-style: solid;
    border-color: #444;
    height:20px;
}
input[type="checkbox"]:checked + label{
    color: #a2a2a2;
}

input[type="checkbox"]:checked +  label:before{
    border-color: transparent;
    border-left-color: #6c33a3;
    border-bottom-color: #6c33a3;
    transform:rotate(-50deg);
    width:22px;
    height:12px;
    top: 3px;
}

/* Hoovers */
.button-login-loginScreen:hover, .toggle-candidato:hover, .toggle-empresa:hover {
    opacity: 1;
}
.return-to-login:hover {
    opacity: 1;
}



@media only screen and (min-width: 600px) {
    .login-box {
        padding: 4ch 6ch;
    }
    .register-section {
        padding: 2ch 5ch;
    }
    .callout-section {
        padding: 18ch 5ch 5ch;
    }
}
@media only screen and (min-width: 900px) {
    .logo-header-large {
        display: block;
        width: 30ch;
    }
    header {
        display: none;
    }
    .logo-header {
        display: none;
    }
    body {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0;
    }
    .innerNavBar {
        position: relative;
    }
    .callout-section, .register-section {
        padding: 2ch;
        width: 50%;
    }
    .callout-section {
        align-self: center;
    }
}
@media only screen and (min-width: 1200px) {
    body {
        padding: 0 10ch;
    }
}
@media only screen and (min-width: 1500px) {
    body {
        padding: 0 20ch;
    }
}

.error {
    text-align: left;
    margin: -10px 0 0 10px;
    color: #ab0303;
    letter-spacing: 2px;
    font-size: 12px;
    display: none;
    align-items: center;
}
.error img {
    max-width: 15px ;
    margin: 0 0 0 10px;
}