* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    text-decoration: none;
}
body {
    padding: 0 0 10vh 0;
    background:url("../../Cadastro/CadastroCandidato/images/bg-stars.svg"), black;
}
body img {
    max-width: 15ch;
}
/* header */
.logo-header-large {
    display: none;
}
.navbar {
    padding: 2ch;
}
header {
    text-align: center;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

/* Feed de vagas */

.feed-section {
    padding: 2ch;
}
.feed-box {
    background-color: rgb(32, 32, 36);
    border-radius: 1ch;
    color: #969696;
}
.feed-header {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2ch;
    border-bottom: 10px solid black;
}
.feed-header h2 {
    border-radius: 2ch;
    padding: .5ch;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgba(188, 19, 254, 0.29),
    0 0 0.8rem rgba(188, 19, 254, 0.29),
    0 0 2.8rem rgba(188, 19, 254, 0.29),
    inset 0 0 1.3rem rgba(188, 19, 254, 0.29);
}

.vagas-box {
    padding: 1.5ch;
    background-color: rgb(32, 32, 36);
    border-radius: 1ch;
    width: 100%;
}
.vaga {
    padding: 1.5ch;
    border: 2px solid #6c33a3;
    border-radius: 2ch;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgba(188, 19, 254, 0.29),
    0 0 0.8rem rgba(188, 19, 254, 0.29),
    0 0 2.8rem rgba(188, 19, 254, 0.29),
    inset 0 0 1.3rem rgba(188, 19, 254, 0.29);
    margin: 0 0 2ch 0;
}
.vaga-content  {
    display: flex;
    flex-direction: column;
}
.vaga h3 {
    margin-bottom: .5ch;
}
.vaga-content span {
    margin: .5ch 0;
}
.vaga-content span i {
    margin: 0 .5ch 0 0;
}
.tag-list {
    display: flex;
    margin: 1ch 0;
    flex-wrap: wrap;
}
.tag-list-item {
    padding: .5ch 1ch;
    background-color: #969696;
    border-radius: 3ch;
    letter-spacing: 1px;
    margin: .5ch .5ch;
}
.tag-list-item a {
    text-decoration: none;
    color: black;

}
/* Profile card */

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: black;
    padding-top: 10ch;
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.card-container .pro {
    color: #231e39;
    background-color: #febb0b;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 10ch;
    left: 30px;

}

.card-container .round {
    border: 1px solid #6c33a3;
    border-radius: 50%;
    padding: 7px;
}

button.primary {
    background-color: #6c33a3;
    border: 1px solid #6c33a3;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: #6c33a3;
}

.skills {
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}
.skills ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #6c33a3;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}
.wraper-vagas {
    display: flex;
}
.descricao-box {
    display: none;
}
.profile-card-box-big-screen {
    display: none;
}
.titulo-desc {
    margin: 0 0 .5ch 0;
}
/* Media query */

@media only screen and (min-width: 700px) {
    .feed-section {
        max-width: 60ch;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1000px) {
    .vagas-box {
        width: 50%;
    }
    .descricao-box {
        display: block;
        width: 50%;
        padding: 1.5ch;
    }
    .vaga-content-descricao {
        padding: 1.5ch;
        border: 2px solid #6c33a3;
        border-radius: 2ch;
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgba(188, 19, 254, 0.29),
        0 0 0.8rem rgba(188, 19, 254, 0.29),
        0 0 2.8rem rgba(188, 19, 254, 0.29),
        inset 0 0 1.3rem rgba(188, 19, 254, 0.29);
    }
    .descricao-vaga {
        margin: .5ch 0;
    }
    .logo-header {
        display: none;
    }
    .logo-header-large {
        display: block;
        margin: 0 auto;
        max-width: 40ch;
    }
}
.vaga-content-descricao span {
    display: flex;
}
.vaga-content-descricao span i {
    margin: 0 0.5ch  0 0;
}
@media only screen and (min-width: 1200px) {
    .feed-section {
        max-width: 100%;
        display: flex;
        margin: 5ch;
        justify-content: center;
    }
    .profile-card-box-big-screen {
        display: block;
        width: 30ch;
    }
    .profile-box {
        display: none;
    }
    .feed-box {
        max-width: 50%;
        margin: 0 5%;
    }
    .card-container {
        background-color: rgb(32, 32, 36);
        color: #969696;
        border-radius: 1ch;
        position: initial;
    }

}
