* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
* img {
    max-width: 6ch;
}
/* Header */
.logo-header {
    width: 15ch;
}
.logo-header-large {
    display: none;
}
.innerNavBar {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2ch;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.button-login-header {
    text-decoration: none;
    color: #6c33a3;
    padding: 1ch 2ch;
    background-color: white;
    font-weight: 600;
    border-radius: 1ch;
    letter-spacing: 1px;
    max-height: 4ch;
}
/* Hero */
.hero-section {
    background: url("images/bg-hero-landingpage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero {
    box-shadow: 0 0  1000px 500px  inset rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 15ch 2ch 10ch;
    height: 100vh;

}
.callout-hero {
    color: white;
    font-size: 35px;
    margin-bottom: 2ch;
    letter-spacing: 2px;
    margin-top: 2ch;
}
.register-button-hero {
    text-decoration: none;
    padding: 1.5ch 3.5ch;
    background-color: white;
    border-radius: 5ch;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 2ch;
    color: black;
}
.button-box-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 8ch;
}
.login-button-hero {
    padding: 1.5ch 3.5ch;
    border: 2px solid white;
    margin: 02ch;
    border-radius: 5ch;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}
/* Testimonial */
.testimonial-slider {
    padding: 2ch 1ch;
}
.testimonial-items {
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 1ch;
    padding: 1.5ch;
    margin-bottom: 2ch;
    background: url("images/quotemark.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 95% 20%;
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.35);
}
.testimonial-wraper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    width: 25ch;
    padding-bottom: .5ch;
}
.testimonial-description {
    margin: 2ch 0 0 0 ;
    line-height: 2.5ch;
}
.callout-testimonial {
    text-align: center;
    margin: 2ch auto;
    padding: 0 0 1ch 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    width: 60%;
}
/* Rede social */
.social-media-box {
    padding: 2ch;
}
.social-media-list {
    text-align: center;
}
.social-media-wraper a {
    text-decoration: none;
    color: black;
}
.social-media-wraper {
    display: flex;
    justify-content: center;
    margin-top: 2.5ch;
}
.fa-github, .fa-linkedin {
    padding: 0 1ch;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 900px) {
    .logo-header {
        display: none;
    }
    .logo-header-large {
        display: block;
        max-width: 100ch;
        width: 25ch;
    }
    .hero {
        box-shadow: 0 0  600px 200px  inset rgba(0, 0, 0, 0.73);
    }
    .callout-hero {
        font-size: 100px;
        margin: 1ch 0 0;
    }
    .testimonial-list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .testimonial-items {
        max-width: 22ch;
        background-position: 95% 10%;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.18);
    }
    .testimonial-wraper {
        max-width: 15ch;
    }
    .register-button-hero, .login-button-hero {
        width: 30ch;
    }
    .register-button-hero {
        background-color: #6c33a3;
        color: white;
    }
    .button-box-hero {
        align-items: center;
    }

}
@media only screen and (min-width: 1100px) {
    .testimonial-items {
        max-width: 30%;
    }
    .testimonial-wraper {
        max-width: 70%;
    }
    .testimonial-items {
        padding-bottom: 5%;
    }
    .hero {
        box-shadow: 0 0  600px 500px  inset rgba(0, 0, 0, 0.57);

    }
}

/* Hovers */
.button-login-header:hover {
    background-color: #6c33a3;
    color: white;
}
.fa-github:hover, .fa-linkedin:hover {
    color: #6c33a3;
}